
/* to show use remove.classList on the button function for the nav bar */
.hidden {
    display: none
}

.title  {
    font-family: 'Josefin Slab', serif;
    color: whitesmoke;
    /* background-color: #FF5E00; */
    background-image: url(pics/mountainsBkgrd.jpeg);
    background-size: cover;
    box-sizing: 100%;
    text-align: center;
    padding: 3.5%;
}

body {
    margin: 0;
}

.mainNav {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 1.5em;
}

.mainNav li{
    display: inline;
    padding: 5%;
}

.mainNav a{
    display: inline-block;
    text-decoration: none;
    
}

.secondTitle  {
    font-family: 'Josefin Slab', serif;
    color: whitesmoke;
    background-color: rgba(255, 94, 0, 0.87);
    text-align: center;
    vertical-align: middle;
 
}

.secondaryTitle{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    vertical-align: middle;
}

.secondaryTitle li{
    display: inline;
    text-decoration: none;
    font-weight: bold;
    font-size: 6em;
}

#wolfLi {
    width: 20%;
}

/* This adds seperators between each menu item, but they are not centered properly */
/* nav li + li:before{
    content: " | ";
    padding: 0 10px; */
}

/******  selector pseudo classes (link styles when clicked/not clicked/hovering) */

a:link {
    color: black;
}

a:visited {
    color: #FF5E00;
}

a:hover {
    font-weight: bold;
    color: #FF5E00;
}

a:active {
    color: black;
}

#wolfimg {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 30%;
}

.secondaryWolf {
    border-radius: 50%;
    display: inline-block;
    width: 100%;
}

.mainHeader {
    font-size: 4em;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.3;
    margin: 0;
}
.secondaryHeader  {
    font-size: 1.5em;
    padding: 0 0 5%;
    margin: 0;
} 
.mainContent  {
    font-family: 'Hind+Vadodara', serif;
    text-align: center;
    padding: 0 18%;

}
 .contact {
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     padding-top: 16px;
 }

.contactList {
    padding:0;
}

 .contactList li {
     display: inline;
     text-decoration: none;
     align-content: center;
     padding: 5%;

 }

.article {
    color: black;
    padding-top: 16px;
}

#intro {
    font-size: 1em;
}

.contactImg {
    width: 5%;
    margin: auto;
}

#roxy {
    border-radius: 50%;
    display: block;
    margin: auto;
    padding-top: 5%;
    width: 20%;
}